@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}

/* Footer styles */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #FFA500;
    color: white;
    text-align: center;
    overflow-x: hidden;
    margin-top: auto;
}


@media screen and (max-width: 768px) {
    footer {
        position: relative;
    }
}